@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body,html{
    height: 100%;
    width: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}

.img-404 {
 display: grid;
 place-items: center;
 height: 100vh;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.container > .login{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    border-radius: 20px;
    padding: 20px;
}

.container > .signup{
    width: 100%;
    max-width: 400px;
    min-width: 800px;
    border-radius: 20px;
}
.ingresa{
    color: #77bbbe;
   font-weight: bolder;
    text-align: center;
    margin: 15px 0;
}
.user-icon, .pass-icon, .google-icon{
    height: 1.5rem;
}

.input-group-text{
    background-color: #92E0E4;
}

.logo-login {
    display: flex;
    justify-content: center;
}
.logo-login img{
    height: 200px
}

.forgot{
    display: flex;
    justify-content: space-around;

    align-items: center; /* Centra verticalmente */
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}

.recover-pass{
    display: flex; /* Establece el div como un contenedor flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  .recover-pass a{
    font-size: 16px;
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    color: #77bbbe;
  }
  .forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-info{
    color: white;
    width: 100%;
}

.create-account{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.create-account a{
    color: #77bbbe;
    text-decoration: none;
    font-weight: bolder;

}

.btnGoogle{
    display: flex;
    gap: 15px;
   justify-content: center;

}
  .btnGoogle a{
    text-decoration: none;
    font-weight: bolder;
    color: #77bbbe;
}

.spinner-grow{
    position: absolute;
    display: none;
}


.carousel-item {
    background-size:cover;
    background-position: center;
    height: 91vh;
    
}
.carousel-item img {
    display: none; /* Oculta las imágenes en el carrusel */
}

/*Fondo semitransparente para el texto
#carouselAuto > div > div > div.carousel-caption {
    background: rgba(0, 0, 0, 0.5);  

    border-radius: 5px;
    font-size: 30px;
}*/


#carouselAuto > div > div > div.carousel-caption > h5 {
    font-size: 50px;
}

/* borde texto carousel*/
#carouselAuto > div > div > div.carousel-caption {
text-shadow: 2px 2px 4px #000;
}


#carouselAuto > div > div > div.first{
    position: relative;
    left: 50%;
    top: 40%;
}

#carouselAuto > div > div > div.first > h5{
    font-size: 50px;
    width: 40%;
    text-align: center;

}

.w-header{
    color: purple;
    display: grid;
    place-items: center;
    font-weight: bold;
}

.w-footer{
    color: purple;
    
    font-weight: bold;
}

.middle{
    height: 100%;
    text-align: center;
    display: grid;
    place-items: center;
}

/*position relative para poder colocar la ubicacion abajo de todo*/
.footer{
    height: 100vh;
    background-color: cyan;
    position: relative;
}

#testimonialCarousel{
    height: 250px;

}

#testimonialCarousel > .carousel-inner{
    height: 250px;
    position: absolute;
}

#testimonialCarousel > .carousel-inner > div > div.testimonio{
    text-align: center;
    width: 50%;
    position: relative;
    top: 10px;
    left: 25%;
}
#testimonialCarousel > .carousel-inner > div > div.testimonio > h5{
  line-height: 1.25rem;

}

/*position absolute para poder colocar la ubicacion abajo de todo con relacion a footer*/
.ubicacion{
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 20%;
}


.m-contact img, .footer img{
    width: 50px;
}

.m-contact a, .footer a {
    text-decoration: none;
    color: purple
}

.forms{
    padding: 0 50px;
    margin-top: 25px;
}

.is-required:after {
    content: '*';
    font-size: 15px;
    margin-left: 3px;
    color: red;
    font-weight: bold;
  }

.signup-exito-container, .signup-error-container, .signup-error2-container{
    height: 100vh;
    display: grid;
    place-items: center;
}

.signup-exito-container{
    background-color: #77bbbe;
}

.signup-exito{
    background-color: #77bbbe;
}

.signup-error-container{
    background-color: #fc7c7c;
}

.signup-error2-container{
    background-color: #947f7f;
}


.signup-exito, .signup-error, .signup-error2{animation:bounce-top .9s linear both} @keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}


/* notificaciones */
#notificaciones{
    margin-left: 2px;
    z-index: 100;
    position: fixed;
    right: 1px;
    padding-bottom: 5px;
}

.noti-header{
    background-color:#77bbbe;
    padding: 5px;
}

/*sugerencias form*/
.formularioAjax{
    border-radius: 30px;
    width: 75%;
}
body > div > div > form > h2{
    margin-top: 0!important;
    color: #FFF;
    background-color: rgb(89, 119, 218);
    padding: 20px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.sugerencias-puntos{
    margin-top: 0!important;
    display: flex;
    justify-content: space-evenly;
}
.sugerencias-puntos label{
    border: 1px solid blue;
    padding: 20px;
}


/* carousel text */
.carousel-caption{animation:jello-horizontal 1.2s linear both} @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}


/* dog-look & bañando se cortan en pantallas grandes, se acomoda con esto*/
@media (min-width: 1200px) {
    #carouselAuto > div > div:nth-child(1), #carouselAuto > div > div:nth-child(3){
        background-position: top center;
    }
}






/* Estilo para pantallas medianas */
@media (max-width: 620px) {


    .w-header .fs-1 {
        font-size: 26px !important;
    }
    .w-header .fs-2 {
        font-size: 26px !important;
    }
    .w-header .fs-3 {
        font-size: 20px !important;
    }
    .w-header .fs-4, p, .middle .btn .ubicacion{
        font-size: 18px !important;
    }
    
    .m-contact img, .footer img{
        width: 40px;
    }

    #carouselAuto > div > div > div.carousel-caption > h5 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    
    }
    
    #carouselAuto > div > div > div.first> h5 {
        font-size: 50px;
        width: 50%;
        text-align: center;
    
    }
    

  }

  


/* Estilo para pantallas pequeñas */
@media (max-width: 501px) {

    .w-header .fs-1 {
        font-size: 26px !important;
    }
    .w-header .fs-2 {
        font-size: 26px !important;
    }
    .w-header .fs-3 {
        font-size: 20px !important;
    }
    .w-header .fs-4, p, .middle .btn {
        font-size: 16px !important;
    }
    
    .m-contact img, .footer img{
        width: 25px;
    }

    #carouselAuto > div > div > div.carousel-caption > h5 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    
    #carouselAuto > div > div > div.first> h5 {
        font-size: 30px;
        width: 50%;
        text-align: center;
    }

    /*sugerencias form*/
    body > div.forms{
        padding: 0!important;
    }
    body > div > div > form{
        width: 100%!important;
    }
    

  }


  
/* Estilo para pantallas muy pequeñas */
@media (max-width: 361px) {
    #testimonialCarousel > div > div.carousel-item.active > div > h5{
      font-size: 1rem;
    }
    #testimonialCarousel > div > div.carousel-item.active > div > p:nth-child(3){
      font-size: 13px!important; /*estrellas*/
      }
    body > div.footer.pt-5 > p{
      font-size: 15px!important;/*ubicacion footer*/
    }

    body > div.footer.pt-5 > div.w-header > p.fs-6.w-75.text-center{
        line-height: 15px!important;/*estos son algunos testimonios...*/
    }
    #testimonialCarousel > div > div.carousel-item.active > div > h5{
        line-height: 15px!important;/* testimonios...*/
    }
    body > div.footer.pt-5 > p{
        line-height: 15px!important;/*ubicacion footer*/
    }
  }

@media (max-width: 391px) {
    #testimonialCarousel > div > div.carousel-item.active > div > h5{
      font-size: 1rem;
    }
    #testimonialCarousel > div > div.carousel-item.active > div > p:nth-child(3){
        font-size: 13px!important; /*estrellas*/
    }
  
  }

  @media (max-width: 301px) {
    /*sugerencias form*/
    .sugerencias-puntos label{

     padding: 15px!important;

    }
}